body {
  font-family: "Montserrat";

}
#title {
  background-color: #68b0ab;
  color: #fff

}
h1 {
  font-family: 'Montserrat', sans-serif;
}
h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 3rem;
  line-height: 1.5;
}
h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}
p{
  color: #8f8f8f;
}

/* Headings */
.big-heading {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
  text-align: center;
}

.student-login-title {
  padding: 5% 0% 5%;
}

.section-heading {
  font-weight: 600;
  font-size: 3rem;
  line-height: 1.5;
}

.container-fluid{
  padding: 3% 15% 7%;
}

/* Navigation Bar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
}

/* Download Buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Image */
.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

/* Features Section */
#features {
  padding: 7% 15%;
  background-color: #fff;
  position: relative;
}

.feature-title {
  text-align: center;
  padding: 4.5%;
}

.feature-box {
  text-align: center;
  padding: 5%
}

.icon {
  color: #8fc0a9;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #68b0ab;
}

/* Log In Section */

.login-container{
    margin-top: 5%;
    margin-bottom: 5%;
}
.login-form-1{
    padding: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.login-form-1 h3{
    text-align: center;
    color: #333;
}
.login-form-2{
    padding: 5%;
    background-color: #8fc0a9;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.login-form-2 h3{
    text-align: center;
    color: #fff;
}
.login-container form{
    padding: 10%;
}
.btnSubmit
{
    margin-top: 30px;
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
    text-align: center;
}
.login-form-1 .btnSubmit{
    font-weight: 600;
    color: #fff;
    background-color: #8fc0a9;
}
.login-form-2 .btnSubmit{
    font-weight: 600;
    color: #8fc0a9;
    background-color: #fff;
}
.login-form-2 .ForgetPwd{
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}
.login-form-1 .ForgetPwd{
    color: #8fc0a9;
    font-weight: 600;
    text-decoration: none;
}
.form-group {
  text-align: center;
}
.sign-up {
  text-align: center;
}
#sign-up-button {
  background-color: #8fc0a9;
  color: #fff;
}
#sign-up-button.hover {
  background-color: #68b0ab;
}



/* Sign up or Log in */
.sign-up-buttons {
    text-align: center;
    padding: 5% 5% 5%;
}

.btn-outline {
  color: #fff;
  background-color: #68b0ab;
  margin-bottom: 5%;
}

/* Testimonial Section */
#testimonials {
  text-align: center;
  background-color: #68b0ab;
  color: #fff;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item {
  padding: 7% 15%;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}
#pricing {
  padding: 100px;
  text-align: center;
}

.pricing-column {
  padding: 3% 2%;
}

#press {
  background-color: #68b0ab;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}
 .price-text {
   font-size: 3rem;
   line-height: 1.5;
 }
/* Call to Action */
#cta {
  background-color: #68b0ab;
  color: #fff;
  text-align: center;
  padding: 7% 15%;
}

#footer {
  text-align: center;
  color: #8f8f8f;
  padding: 7% 15%;
}

.social-icon {
  margin: 20px 10px;
}

@media (max-width: 1020px) {
  #title {
    text-align: center;
  }
  .title-image {
    position: static;
    transform: rotate(0);
  }
}
@media (max-width: 767px){
  .login-form-1 {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .login-form-2 {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
}
